@import "../../../utilities/variables";

.dropdown-wrapper {
  .button {
    box-shadow: none !important;
    &:focus {
      border-color: #dbdbdb;
    }
    &:hover,
    .is-focus {
      border-color: $golden-brown;
      color: $golden-brown;
    }
  }

  .dropdown-content {
    a {
      &:hover {
        color: $dark-gray;
      }
    }
  }
}
