@import "../../../utilities/variables";

.modal-wrapper {
  @media screen and (max-width: 767px) {
    .modal-card {
      width: 85vw !important;
    }
    .modal-card-head {
      display: block;
    }
    button.delete {
      display: none;
    }
    .modal-card-foot {
      padding: 5px;
      button {
        margin: auto;
        width: 25%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .modal-card {
      width: 60vw;
    }
  }

  .modal-card-title {
    line-height: 1.25em;
  }

  .title {
    margin-bottom: 0px !important;
  }

  .modal-card-foot {
    button {
      background-color: $golden-brown;
      color: white;
    }
  }

  .rating-star {
    margin-left: 5px;
  }

  .cover-image-wrapper {
    padding: 0 35%;
    @media screen and (max-width: 767px) {
      padding: 0 25%;
    }
    margin: 2% 0;
  }
}
