@import "../../../utilities/variables";

.tag-wrapper {
  display: inline-block;

  .button {
    &:hover {
      cursor: auto;
    }
    margin-top: 5px;
    margin-right: 10px;
    color: $golden-brown;
    border-color: $golden-brown;
  }

  .fiction_non-fiction {
    background-color: $golden-brown;
    color: white;
  }
}
