@import "../../utilities/variables";

.blog-wrapper {
  h1 {
    font-family: Ostrich Sans;
    font-weight: normal !important;
    font-style: normal;
    margin-top: 25px;
  }

  .hero-body {
    padding: 25px 124px;
  }

  .read-time {
    color: $light-gray;
  }

  h3 {
    color: $golden-brown;
    font-weight: bold;
    span {
      color: $dark-gray;
      font-weight: normal;
    }
  }
}
