@import "../../utilities/variables";

.book-review-entry-wrapper {
  .media-content {
    overflow: hidden;
  }

  .box {
    margin-bottom: 25px;
    .read-more {
      transition: all 0.25s ease-in-out;
    }
    &:hover {
      cursor: grab;
      .read-more {
        color: $golden-brown;
        margin-left: 10px;
      }
    }
  }
}
