$very-transparent-golden-brown: rgba(164, 143, 108, 0.15);

.media-content {
  overflow: hidden;
}

.box {
  margin-bottom: 25px;
  transition-duration: 0.5s;
  &:hover {
    cursor: grab;
    background-color: $very-transparent-golden-brown;
  }
}
