@charset "utf-8";

/* Ostrich Sans */
@font-face {
  font-family: "Ostrich Sans";
  src: url("../fonts/ostrich-sans-black.eot");
  src: url("../fonts/ostrich-sans-black.woff") format("woff"),
    url("../fonts/ostrich-sans-black.ttf") format("truetype"),
    url("../fonts/ostrich-sans-black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Ostrich Sans";
  src: url("../fonts/ostrich-sans-bold.eot");
  src: url("../fonts/ostrich-sans-bold.woff") format("woff"),
    url("../fonts/ostrich-sans-bold.ttf") format("truetype"),
    url("../fonts/ostrich-sans-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ostrich Sans";
  src: url("../fonts/ostrich-sans-regular.eot");
  src: url("../fonts/ostrich-sans-regular.woff") format("woff"),
    url("../fonts/ostrich-sans-regular.ttf") format("truetype"),
    url("../fonts/ostrich-sans-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ostrich Sans";
  src: url("../fonts/ostrich-sans-light.eot");
  src: url("../fonts/ostrich-sans-light.woff") format("woff"),
    url("../fonts/ostrich-sans-light.ttf") format("truetype"),
    url("../fonts/ostrich-sans-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* Ostrich Sans Dashed */
@font-face {
  font-family: "Ostrich Sans Dashed";
  src: url("../fonts/ostrich-sans-dashed.eot");
  src: url("../fonts/ostrich-sans-dashed.woff") format("woff"),
    url("../fonts/ostrich-sans-dashed.ttf") format("truetype"),
    url("../fonts/ostrich-sans-dashed.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* Ostrich Sans Rounded */
@font-face {
  font-family: "Ostrich Sans Rounded";
  src: url("../fonts/ostrich-sans-rounded.eot");
  src: url("../fonts/ostrich-sans-rounded.woff") format("woff"),
    url("../fonts/ostrich-sans-rounded.ttf") format("truetype"),
    url("../fonts/ostrich-sans-rounded.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* Ostrich Sans Inline */
@font-face {
  font-family: "Ostrich Sans Inline";
  src: url("../fonts/ostrich-sans-inline-regular.eot");
  src: url("../fonts/ostrich-sans-inline-regular.woff") format("woff"),
    url("../fonts/ostrich-sans-inline-regular.ttf") format("truetype"),
    url("../fonts/ostrich-sans-inline-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ostrich Sans Inline";
  src: url("../fonts/ostrich-sans-inline-italic.eot");
  src: url("../fonts/ostrich-sans-inline-italic.woff") format("woff"),
    url("../fonts/ostrich-sans-inline-italic.ttf") format("truetype"),
    url("../fonts/ostrich-sans-inline-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

// Arvo
@font-face {
  font-family: "Arvo";
  src: url("../fonts/arvo-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arvo";
  src: url("../fonts/arvo-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arvo";
  src: url("../fonts/arvo-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arvo";
  src: url("../fonts/arvo-boldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

// read more about bulma variables here: https://bulma.io/documentation/customize/variables/
// initial variables
$golden-brown: rgb(164, 143, 108);
$transparent-golden-brown: rgba(164, 143, 108, 0.5);
$dark-blue: rgb(10, 30, 50);

// derived variables
$family-primary: Arvo;
$body-font-size: 1.25em;
$link: $golden-brown;
$section-padding: 0 0 20px 0;
$footer-background-color: white;
$footer-padding: 20px;
$gap: 64px;

main a {
  transition: ease-in-out 0.75s !important;
}

// disables the scrollbar on mobile (which kept flickering when showing the header)
html,
body {
  overflow-x: hidden !important;
}
body {
  position: relative !important;
}

* {
  -webkit-tap-highlight-color: white !important; // remove the light blue background when tapped
  &::selection {
    background-color: $transparent-golden-brown;
  }
}

@import "~bulma/bulma.sass";
