@charset "utf-8";

$title-color: #000000;
$family-primary: Verdana;
$section-padding: 20px 12px;

#mobileHeaderToggle {
  border-style: none;
  &:focus {
    outline: none !important;
  }
  &:hover {
    background-color: white;
  }
}

@import "~bulma/bulma.sass";
